* {
  margin: 0; }

html, body {
  height: 100%; }

.fa.fa-calendar {
  margin-top: 5px; }

.fa.fa-list {
  margin-top: 5px; }

.fa.fa-cloud-download {
  margin-top: 5px; }

.fa.fa-wrench {
  margin-top: 5px; }

.fa.fa-share {
  margin-top: 5px; }

#signin_button {
  margin-top: 10px; }

#wrap {
  height: auto !important;
  margin: 0 auto -60px;
  min-height: 100%; }

#footer {
  background-color: #379BCE; }

#push, #footer {
  height: 60px; }

.container .credit {
  margin: 20px 0; }

.muted {
  color: #ffffff; }

a {
  color: #174C74 !important; }

.bs-docs-header {
  transform: translate(0, 0%);
  background-color: #379BCE;
  color: #ffffff; }

.bs-docs-masthead, .bs-docs-header {
  background: #379bce none; }

.chosen-single {
  height: 35px !important;
  line-height: 35px !important; }

.chosen-container .chosen-container-multi {
  height: 35px !important;
  line-height: 35px !important; }

.search-field .default {
  height: 35px !important;
  line-height: 35px !important; }

.chosen-choices .search-choice {
  height: 35px !important;
  line-height: 35px !important; }

.chosen-container-single .chosen-single div {
  top: 6px !important; }

.search-choice {
  padding-top: 0px; }

.search-choice-close {
  top: 12px; }
